@charset "UTF-8";

/* paleta de cores */
/* #001438, #020C20, #105490, #6E85AD, #3C6EA7 */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main{
    height: 100vh;
    position: relative;
    background-color: #6E85AD;
}

section{
    height: 600px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px #001438ba;
}

div#imagem{
    background-image: url(../imagens/stars.jpg);
    background-position: right top;
    height: 40%;
    border-radius: 20px 20px 0 0;
}

div#form{
    height: 60%;
    padding: 15px;
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
    color: #001438;
}

div#form > p{
    margin-bottom: 10px;
    font-size: 0.9em;
}

div#form form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#user, #pass{
    background-color: #001eff3b;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

#button1, #button2{
    font-size: 1.1em;
    cursor: pointer;
    height: 35px;
    padding: 5px;
    margin: 10px;
}

#button1{
    border: 1px solid #001438;
    background-color: #001438;
    border-radius: 10px;
    color: white;
}

#button2{
    background-color: white;
    border: 2px solid #001438;
    border-radius: 10px;
    color: #001438;
}

#user:focus, #pass:focus{
    background-color: white;
}

#button1:hover{
    background-color: #3C6EA7;
}

#button2:hover{
    border-color: #3C6EA7;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    section{
        display: flex;
        height: 300px;
        width: 700px;
    }

    div#imagem{
        background-position: center top;
        width: 35%;
        height: 100%;
        border-radius: 20px 0 0 20px;
    }

    div#form{
        width: 65%;
        height: 100%;
    }
    
}

@media screen and (min-width: 993px) {

    section{
        display: flex;
        flex-direction: row-reverse;
        height: 400px;
        width: 900px;
    }

    div#imagem{
        background-position: center top;
        width: 35%;
        height: 100%;
        border-radius: 0 20px 20px 0;
    }

    div#form{
        width: 65%;
        height: 100%;
    }


}